<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.DReaderServer.mapper.files.FilesTagsMapper">
    <resultMap id="fileDetailsTag" type="com.example.DReaderServer.dto.files.FilesDetailsItemDTO$FilesDetailsTag">
        <id column="id" property="id"/>
        <result column="tag_id" property="tagId"/>
        <result column="name" property="name"/>
    </resultMap>

    <select id="getTagsByFilesId" resultMap="fileDetailsTag" parameterType="long">
        SELECT
            files_tags.id,
            tags.id as tag_id,
            name
        FROM
            files_tags
        INNER JOIN tags ON files_tags.tags_id = tags.id AND tags.deleted = 1
        WHERE files_tags.deleted = 1 and files_tags.files_id=#{id}
    </select>
</mapper>